* text=auto !eol
/README.md -text
/composer.json -text
/composer.lock -text
spip-cli/CacheDesactiver.php -text
spip-cli/CacheReactiver.php -text
spip-cli/CacheVider.php -text
spip-cli/CoreInstaller.php -text
spip-cli/CoreMettreajour.php -text
spip-cli/CorePreparer.php -text
spip-cli/CoreTelecharger.php -text
spip-cli/IntegraalGenerer.php -text
spip-cli/PhpEval.php -text
spip-cli/PluginsActiver.php -text
spip-cli/PluginsDesactiver.php -text
spip-cli/PluginsLister.php -text
spip-cli/PluginsSvpDepoter.php -text
spip-cli/PluginsSvpTelecharger.php -text
spip-cli/ServerLocate.php -text
spip-cli/TextePropre.php -text
spip-cli/TexteTypo.php -text
/spip.php -text
/spip_completion.sh -text
