* text=auto !eol
/README.md -text
bin/spip -text
bin/spip_console_autocomplete -text
bin/spipmu -text
/composer.json -text
/composer.lock -text
/spip.php -text
/spip_completion.sh -text
src/Application.php -text
src/Command/AuteursSuperadmin.php -text
src/Command/CacheDesactiver.php -text
src/Command/CacheReactiver.php -text
src/Command/CacheVider.php -text
src/Command/CoreInstaller.php -text
src/Command/CoreListerVersions.php -text
src/Command/CoreMajBdd.php -text
src/Command/CoreMettreajour.php -text
src/Command/CorePreparer.php -text
src/Command/CoreTelecharger.php -text
src/Command/FiltresExtraireBalise.php -text
src/Command/FiltresExtraireBalises.php -text
src/Command/FiltresTexteBrut.php -text
src/Command/ImagesVerifierExtensions.php -text
src/Command/IntegraalGenerer.php -text
src/Command/PhpEval.php -text
src/Command/PluginsActiver.php -text
src/Command/PluginsDesactiver.php -text
src/Command/PluginsLister.php -text
src/Command/PluginsListerheader.php -text
src/Command/PluginsMajBdd.php -text
src/Command/PluginsSvpDepoter.php -text
src/Command/PluginsSvpTelecharger.php -text
src/Command/ServerLocate.php -text
src/Command/SqlDumpCreate.php -text
src/Command/SqlDumpRestore.php -text
src/Command/SqlRepair.php -text
src/Command/SqlShowbase.php -text
src/Command/SqlShowdiff.php -text
src/Command/SqlShowtable.php -text
src/Command/TestSpip.php -text
src/Command/TestStyle.php -text
src/Command/TextePropre.php -text
src/Command/TexteTypo.php -text
src/Console/Command.php -text
src/Console/Style/SpipCliStyle.php -text
src/Loader/Spip.php -text
src/Loader/Sql.php -text
src/Loader/php_compat.php -text
src/Mutualisation/Application.php -text
src/Mutualisation/Command/Batch.php -text
src/Sql/DumpCommonTrait.php -text
src/Sql/Query.php -text
src/Tools/Files.php -text
