* text=auto !eol
/INSTALL.md -text
/README.md -text
/composer.json -text
/composer.lock -text
spip-cli/CacheDesactiver.php -text
spip-cli/CacheReactiver.php -text
spip-cli/CacheVider.php -text
spip-cli/CoreInstaller.php -text
spip-cli/CorePreparer.php -text
spip-cli/CoreTelecharger.php -text
/spip.php -text
vendor/autoload.php -text
vendor/composer/ClassLoader.php -text
vendor/composer/autoload_classmap.php -text
vendor/composer/autoload_namespaces.php -text
vendor/composer/autoload_psr4.php -text
vendor/composer/autoload_real.php -text
vendor/composer/installed.json -text
vendor/symfony/console/Symfony/Component/Console/Application.php -text
vendor/symfony/console/Symfony/Component/Console/CHANGELOG.md -text
vendor/symfony/console/Symfony/Component/Console/Command/Command.php -text
vendor/symfony/console/Symfony/Component/Console/Command/HelpCommand.php -text
vendor/symfony/console/Symfony/Component/Console/Command/ListCommand.php -text
vendor/symfony/console/Symfony/Component/Console/ConsoleEvents.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/ApplicationDescription.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/Descriptor.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/DescriptorInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/JsonDescriptor.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/TextDescriptor.php -text
vendor/symfony/console/Symfony/Component/Console/Descriptor/XmlDescriptor.php -text
vendor/symfony/console/Symfony/Component/Console/Event/ConsoleCommandEvent.php -text
vendor/symfony/console/Symfony/Component/Console/Event/ConsoleEvent.php -text
vendor/symfony/console/Symfony/Component/Console/Event/ConsoleExceptionEvent.php -text
vendor/symfony/console/Symfony/Component/Console/Event/ConsoleTerminateEvent.php -text
vendor/symfony/console/Symfony/Component/Console/Formatter/OutputFormatter.php -text
vendor/symfony/console/Symfony/Component/Console/Formatter/OutputFormatterInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Formatter/OutputFormatterStyle.php -text
vendor/symfony/console/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Formatter/OutputFormatterStyleStack.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/DescriptorHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/DialogHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/FormatterHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/Helper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/HelperInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/HelperSet.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/InputAwareHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/ProgressBar.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/ProgressHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/QuestionHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/Table.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/TableHelper.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/TableSeparator.php -text
vendor/symfony/console/Symfony/Component/Console/Helper/TableStyle.php -text
vendor/symfony/console/Symfony/Component/Console/Input/ArgvInput.php -text
vendor/symfony/console/Symfony/Component/Console/Input/ArrayInput.php -text
vendor/symfony/console/Symfony/Component/Console/Input/Input.php -text
vendor/symfony/console/Symfony/Component/Console/Input/InputArgument.php -text
vendor/symfony/console/Symfony/Component/Console/Input/InputAwareInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Input/InputDefinition.php -text
vendor/symfony/console/Symfony/Component/Console/Input/InputInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Input/InputOption.php -text
vendor/symfony/console/Symfony/Component/Console/Input/StringInput.php -text
vendor/symfony/console/Symfony/Component/Console/LICENSE -text
vendor/symfony/console/Symfony/Component/Console/Logger/ConsoleLogger.php -text
vendor/symfony/console/Symfony/Component/Console/Output/BufferedOutput.php -text
vendor/symfony/console/Symfony/Component/Console/Output/ConsoleOutput.php -text
vendor/symfony/console/Symfony/Component/Console/Output/ConsoleOutputInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Output/NullOutput.php -text
vendor/symfony/console/Symfony/Component/Console/Output/Output.php -text
vendor/symfony/console/Symfony/Component/Console/Output/OutputInterface.php -text
vendor/symfony/console/Symfony/Component/Console/Output/StreamOutput.php -text
vendor/symfony/console/Symfony/Component/Console/Question/ChoiceQuestion.php -text
vendor/symfony/console/Symfony/Component/Console/Question/ConfirmationQuestion.php -text
vendor/symfony/console/Symfony/Component/Console/Question/Question.php -text
vendor/symfony/console/Symfony/Component/Console/README.md -text
vendor/symfony/console/Symfony/Component/Console/Resources/bin/hiddeninput.exe -text
vendor/symfony/console/Symfony/Component/Console/Shell.php -text
vendor/symfony/console/Symfony/Component/Console/Tester/ApplicationTester.php -text
vendor/symfony/console/Symfony/Component/Console/Tester/CommandTester.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/ApplicationTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Command/CommandTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Command/HelpCommandTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Command/ListCommandTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/AbstractDescriptorTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/JsonDescriptorTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/MarkdownDescriptorTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/ObjectsProvider.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/TextDescriptorTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Descriptor/XmlDescriptorTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/BarBucCommand.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/DescriptorApplication1.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/DescriptorApplication2.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/DescriptorCommand1.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/DescriptorCommand2.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/DummyOutput.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/Foo1Command.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/Foo2Command.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/Foo3Command.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/Foo4Command.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/Foo5Command.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/FooCommand.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/FoobarCommand.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/TestCommand.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_1.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_1.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_1.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_2.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_2.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_2.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_astext1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_astext2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_asxml1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_asxml2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_gethelp.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception3.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception3decorated.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception4.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception_doublewidth1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception_doublewidth1decorated.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_renderexception_doublewidth2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_run1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_run2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_run3.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/application_run4.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_1.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_1.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_1.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_2.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_2.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_2.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_astext.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/command_asxml.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/definition_astext.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/definition_asxml.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_1.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_1.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_1.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_2.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_2.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_2.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_3.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_3.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_3.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_argument_3.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_1.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_1.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_1.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_2.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_2.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_2.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_3.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_3.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_3.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_3.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_4.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_4.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_4.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_definition_4.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_1.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_1.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_1.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_1.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_2.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_2.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_2.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_2.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_3.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_3.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_3.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_3.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_4.json -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_4.md -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_4.txt -text
vendor/symfony/console/Symfony/Component/Console/Tests/Fixtures/input_option_4.xml -text
vendor/symfony/console/Symfony/Component/Console/Tests/Formatter/OutputFormatterStyleStackTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Formatter/OutputFormatterStyleTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/DialogHelperTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/FormatterHelperTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/HelperSetTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/ProgressHelperTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/TableHelperTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Helper/TableTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/ArgvInputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/ArrayInputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/InputArgumentTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/InputDefinitionTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/InputOptionTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/InputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Input/StringInputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Logger/ConsoleLoggerTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Output/ConsoleOutputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Output/NullOutputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Output/OutputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Output/StreamOutputTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Tester/ApplicationTesterTest.php -text
vendor/symfony/console/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php -text
vendor/symfony/console/Symfony/Component/Console/composer.json -text
vendor/symfony/console/Symfony/Component/Console/phpunit.xml.dist -text
